<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Home</a></li>
                <li class="main-header__item"><a class="active" href="/users">Users</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Active users:</h2>
        <ul>
            <li>Stella</li>
            <li>Esteban</li>
            <li>Margarida</li>
            <li>Andreas</li>
            <li>Wellington</li>
            <li>Laura</li>
            <li>Pablo</li>
            <li>Anne</li>
            <li>Chantal</li>
        </ul>
    </main>
</body>

</html>